@font-face {
    font-family: 'PlayfairDisplay';
    src: url(../assets/fonts/PlayfairDisplay-Regular.woff) format("woff");
}
@font-face{
    font-family:'source-sans-pro';
    scr: url(../assets/fonts/source-sans-pro-regular.woff) format("woff");
}

.button{
	font-family:"PlayfairDisplay-regular";
	background-color: #f4aa67;
	text-decoration: none;
	padding: 7px 40px;
	border-radius: 5px;
	position: relative 
	
}
#sidesection{
	background-color: #e5e5e5;
	width: 500px;
  height: 1000px;
	display: grid
	
	
}
#mobilepicture{
	border-radius: 50%;
	height:100px;

		
}
#mail{
	position: absolute;
	
	
}

.button2{
	font-family:"source sans pro";
	background-color: #f4aa67;
	text-decoration: none;
	padding: 7px 40px;
	border-radius: 5px;
	position: relative;
	
	
}
.cacti{
	height: 200px;
	crop-image: 200px;
	overflow:hidden
}




